@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

:root {
  --primary-color: #fd79a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 20px 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

header .logo {
  font-weight: 800;
  font-size: 2em;
  color: #000;
  transition: color 0.1s ease;
}

.logo.open {
  color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.container button {
  padding: 7px 18px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1em;
}

button.open {
  display: none;
}

nav {
  display: none;
  animation: rightToLeftMove 0.9s forwards;
}

nav.open {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: brightness(40%);
  z-index: -1;
  padding-top: 100px;
  animation: leftToRightMove 0.9s forwards;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 3em;
  font-weight: 600;
  color: #fff;
}

.hamburger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #000;
  position: absolute;
  cursor: pointer;
}

.hamburger span.open {
  background-color: #fff;
  transition: background-color 1.5s ease;
}

span:nth-child(3) {
  top: 20px;
  transition: opacity 0.2s ease-in-out;
}

span:nth-child(2) {
  top: 10px;
  transition: transform 0.2s ease-in-out;
}

span:nth-child(1) {
  transition: transform 0.2s ease-in-out;
}

span.open:nth-child(3) {
  opacity: 0;
}

span.open:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}

span.open:nth-child(2) {
  transform: rotate(-45deg);
  top: 7px;
}

@keyframes leftToRightMove {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes rightToLeftMove {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
