* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tools {
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 100;
    user-select: none;
}

.board {
    position: relative;
    border: 1px red solid;
}

.circlePointer {
    border-radius: 50%;
    border: 1px gray solid;
    position: absolute;
    z-index: 100;
}