* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .boardWrapper {
        display: flex;
        flex-direction: column;
        width: 800px;
        height: 800px;

        .row {
            display: flex;
            justify-content: space-between;
            height: 100px;

            .cell {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;

                .iconWrapper {
                    width: 70px;
                    height: 70px;
                    cursor: pointer;

                    svg {
                        width: 70px;
                        height: 70px;
                    }
                }

                .White {
                    fill: #fff;
                }

                .Black {
                    fill: #000;
                }
            }

            .light {
                background-color: #a29bfe;
            }

            .dark {
                background-color: #6c5ce7;
            }
        }
    }
}

