:root {
  --primary-color: #d980fa;
  --secondary-color: #fda7df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  width: 500px;
  padding: 40px;
  border-radius: 18px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  overflow: hidden;
}

#home,
#comment,
#folder,
#user {
  /*border: none;*/
  outline: none;
  background-color: #fff;
  cursor: pointer;
  border: 1px red solid;
}

i {
  color: var(--secondary-color);
  font-size: 30px;
}

.bucket {
  width: 45px;
  height: 45px;
  transform: rotate(45deg);
  border-top-left-radius: 17px;
  position: absolute;
  background-color: var(--primary-color);
  left: 40px;
  top: 82%;
}

.bucket.activeHome {
  animation: home 0.3s ease-in-out forwards;
}

.bucket.activeComment {
  animation: comment 0.3s ease-in-out forwards;
}

.bucket.activeFolder {
  animation: folder 0.3s ease-in-out forwards;
}

.bucket.activeUser {
  animation: user 0.3s ease-in-out forwards;
}

@keyframes home {
  100% {
    left: 40px;
  }
}

@keyframes comment {
  100% {
    left: 165px;
  }
}

@keyframes folder {
  100% {
    left: 415px;
  }
}

@keyframes user {
  100% {
    left: 400px;
  }
}
