* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabbar {
  position: relative;
  display: flex;
  width: 500px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  color: rebeccapurple;
  overflow: hidden;
}

ul {
  display: flex;
  flex-grow: 1;
}

li {
  flex: 1 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: clip 0.3s ease-in-out;
}

.icon svg {
  fill: currentColor;
}

.light {
  clip: rect(0px, 30px, 30px, 0px);
  transition: clip 0.4s ease-in-out;
}

.solid {
  clip: rect(30px, 30px, 30px, 0px);
  transition: clip 0.4s ease-in-out;
}

li.active .light {
  clip: rect(0px, 30px, 0px, 0px);
}

li.active .solid {
  clip: rect(0px, 30px, 30px, 0px);
}

.indicator {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 100%;
  left: 60px;
  background: currentColor;
  transform: translate(-50%, -50%) rotateZ(45deg);
  border-top-left-radius: 18px;
  transition: left 0.2s ease-in-out;
}

.indicator .ball {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: currentColor;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}
