html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#myCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    padding: 18px;
    background-color: #714d69;
    margin: 40px auto;
    color: white;
}

.score {
    font-size: 20px;
    font-weight: 700;
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.content {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #a0849d;
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
}

.active {
    display: block;
}

.button {
    padding: 10px;
    border: none;
    color: white;
    background-color: #714d69;
    cursor: pointer;
}