* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container span {
  font-size: 3em;
}

.section1 .container img {
  width: 50px;
}

.product {
  width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
