* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ground {
  width: 400%;
  height: 2px;
  background-color: black;
  position: relative;
  top: 246px;
}

.ground.active {
  animation: moving 4s linear;
}

.cactus {
  width: 50px;
  height: 50px;
  background-image: url("../assets/images/cactus.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  position: absolute;
  left: 50%;
  top: -50px;
}

.dinosaur {
  width: 100px;
  height: 100px;
  background-image: url("../assets/images/Dinosaur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  position: relative;
  top: 150px;
}

.dinosaur.active {
  animation: jumping 0.6s linear;
}

@keyframes jumping {
  0% {
    top: 150px;
  }

  100% {
    top: 50px;
  }
}

@keyframes moving {
  0% {
    left: 0;
  }

  100% {
    left: -250%;
  }
}
