* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  border: 1px black solid;
  width: 500px;
  height: 250px;
}

.dinosaur {
  width: 100px;
  height: 100px;
  background-image: url("../assets/images/Dinosaur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
  position: relative;
  top: 150px;
}

.dinosaur.active {
  animation: jumping 0.6s linear;
}

.cactus {
  width: 50px;
  height: 50px;
  background-image: url("../assets/images/cactus.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  position: relative;
  left: 450px;
  top: 100px;
}

.cactus.active {
  animation: moving 3s linear;
}

@keyframes jumping {
  0% {
    top: 150px;
  }

  100% {
    top: 50px;
  }
}

@keyframes moving {
  0% {
    left: 450px;
  }

  100% {
    left: -50px;
  }
}
