* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttonContainer {
  position: relative;
  width: 150px;
  height: 70px;
  background-color: #587af2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  position: absolute;
  user-select: none;
  align-self: center;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}

.hidingText {
  animation: hidingText 0.03s forwards linear;
}

.hand {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.rightHand {
  left: 100%;
}

.leftHand {
  left: -35%;
  transform: translateY(-50%) rotateY(180deg);
}

.showingLeftHand {
  animation: leftHand 0.8s 0.1s forwards ease-in-out;
}

.showingRightHand {
  animation: rightHand 0.8s 0.1s forwards ease-in-out;
}

.loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #587a99;
  border-radius: 50px;
  overflow: hidden;
  opacity: 0;
}

.dot {
  width: 23px;
  height: 23px;
  background-color: #587af2;
  border-radius: 50px;
  z-index: 1;
  display: none;
}

.loading:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 25px;
  height: 20px;
  background-color: white;
  border-radius: 50px;
  transform-origin: bottom;
  animation: loadingIndicator 1.5s 0.9s infinite forwards ease-in-out;
}

.load {
  opacity: 1;
}

.load .dot {
  display: block;
}

@keyframes loadingIndicator {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes leftHand {
  0% {
    left: -35%;
  }

  60% {
    left: 40%;
    transform: translate(-40%, -50%) rotateY(180deg);
  }

  100% {
    left: -35%;
  }
}

@keyframes rightHand {
  0% {
    left: 100%;
  }

  60% {
    left: 60%;
    transform: translate(-60%, -50%);
  }

  100% {
    left: 100%;
  }
}

@keyframes hidingText {
  from {
    font-size: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    font-size: 15px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
