@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lobster, sans-serif;
  background-color: #1c1c1e;
  margin: 0;
}

.range {
  width: 300px;
  height: 300px;
  transform: rotateZ(-90deg);
}

.progress {
  stroke: #0a84ff;
}

.thumb {
  fill: #0064ef;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.value {
  user-select: none;
  transform: rotateZ(90deg);
  transform-origin: 50% 50%;
  /*fill: #f2f2f7;*/
  font-size: 20px;
}
