@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Charmonman:wght@700&family=Dancing+Script:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --primary-color: #12b0e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dancing Script", sans-serif;
  background-color: #75828366;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  user-select: none;
}

main .accordion {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
}

main .accordion.active {
  overflow: visible;
  height: auto;
}

main .accordion span {
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
}

main .accordion span::before,
main .accordion span::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #fff;
  left: 460px;
  top: 50%;
}

main .accordion span::after {
  transform: rotate(90deg);
}

main .accordion.active span::after {
  transform: translate(0);
}

main .accordion .about {
  cursor: auto;
  background-color: #fff;
  color: gray;
  padding: 8px;
  font-size: 1.1em;
}
