:root {
  --primary-color: #5a20cb;
  --secondary-color: #242b2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.input {
  display: none;
}

/*SIMPLE CHECKBOX*/

.simpleCheckbox {
  width: 26px;
  height: 26px;
  border: 1px #fff solid;
  border-radius: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.simpleCheckbox::after {
  content: "";
  width: 12px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.simpleCheckbox:hover {
  border-color: var(--primary-color);
}

.input:checked ~ .simpleCheckbox::after {
  opacity: 1;
}

.input:checked ~ .simpleCheckbox {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/*FLIPPING CHECKBOX*/

.checkboxContainer {
  width: 26px;
  height: 26px;
  border: 1px #fff solid;
  border-radius: 20%;
  perspective: 50px;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}

.checkboxContainer:hover {
  border-color: var(--primary-color);
}

.checkboxWrapper {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.blankFace {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 20%;
  backface-visibility: hidden;
  position: absolute;
}

.checkedFace {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
}

.checkedFace::after {
  content: "";
  width: 12px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 10px;
}

.input:checked ~ .checkboxContainer {
  border-color: var(--primary-color);
}

.input:checked ~ .checkboxContainer .checkboxWrapper {
  transform: rotateY(180deg);
}

/*SIMPLE SWITCH*/

.switchWrapper {
  width: 45px;
  height: 26px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.switchWrapper:hover {
  border-color: var(--primary-color);
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  margin-left: 2px;
  transition: all 0.3s ease-in-out;
}

.input:checked + .switchWrapper .circle {
  margin-left: 21px;
  background-color: #fff;
}

.input:checked ~ .switchWrapper {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/*SMILING SWITCH*/

.svg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
}

.eyes {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.mouth {
  stroke: #fff;
  stroke-width: 1px;
  stroke-linecap: round;
  d: path("M 5 14 Q 10 9 15 14");
  transition: all 0.3s ease-in-out;
}

.input:checked ~ .switchWrapper .circle .svg .mouth {
  stroke: var(--primary-color);
  d: path("M 5 14 Q 10 17 15 14");
}

.input:checked ~ .switchWrapper .circle .svg .eyes {
  fill: var(--primary-color);
}

/*LINE SWITCH*/

.line {
  width: 50px;
  height: 4px;
  background-color: gray;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.line:hover .bigCircle {
  background-color: var(--primary-color);
}

.bigCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  top: -8px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.smallCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease-in-out;
}

.input:checked ~ .line .bigCircle {
  left: 30px;
  background-color: var(--primary-color);
}

.input:checked ~ .line .bigCircle .smallCircle {
  background-color: var(--primary-color);
}
