* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1c1c1e;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #2c2c2e;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.toDo {
  flex-grow: 1;
  height: 40px;
  border-radius: 3px;
  background-color: #3a3a3c;
  border: none;
  padding: 10px;
  color: #fff;
}

::placeholder {
  color: #6e6f6a;
  font-size: 16px;
}

.addButton {
  padding: 10px;
  background-color: #0984e3;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 80px;
  border-radius: 3px;
  font-weight: 700;
}

.toDoItems {
  border-bottom: 1px #b2bec3 solid;
  color: #fff;
  padding: 10px;
  position: relative;
}

.active {
  text-decoration: line-through;
}

.deleteIcon {
  height: 20px;
  width: 20px;
  order: 3;
  background-image: url("../assets/icon/trash-alt-solid.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  right: 10px;
  top: 10px;
}

.toDoItems:hover .deleteIcon,
.toDoItems:hover .crossToDo {
  opacity: 1;
}

.crossToDo {
  height: 20px;
  width: 20px;
  background-image: url("../assets/icon/check-square-solid.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  right: 40px;
  top: 10px;
}
